<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="54680StructureTooBig.MessierObjectExplorer" Version="1.0.0.5" Publisher="CN=159CB8CE-CFD1-4162-8D3B-E862187740DA" />
  <Properties>
    <DisplayName>Messier Object Explorer</DisplayName>
    <PublisherDisplayName>StructureTooBig</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="APIMASH_MessierSkyObjects" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Messier Object Explorer is a simple and fun way to explore the Messier Object Catalog of objects in the sky.  Select from the list of all 110 objects, or pan around and explore them on your own!" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.png" ShortName="APIMASH_MessierSkyObjects" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#000000" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="apimash" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>