<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c1fd7166-89f6-4a72-98cb-915cec13d1c2" Version="1.0.0.0" Publisher="CN=mcumming" />
  <Properties>
    <DisplayName>APIMASH-StackExchange-StarterKit</DisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <PublisherDisplayName>mcumming</PublisherDisplayName>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="APIMASH_StackExchange_StarterKit.App">
      <VisualElements DisplayName="APIMASH-StackExchange-StarterKit" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="APIMASH-StackExchange-StarterKit" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>