<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="72095178-8cb2-4560-bb76-02fa6c4ee00a" Version="1.0.0.0" Publisher="CN=APIMASH" />
  <Properties>
    <DisplayName>APIMASH_RottenTomatoes_StarterKit</DisplayName>
    <Logo>Assets\APIMASH_Store.png</Logo>
    <PublisherDisplayName>APIMASH</PublisherDisplayName>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="APIMASH_RottenTomatoes_StarterKit.App">
      <VisualElements DisplayName="APIMASH Rotten Tomatoes Starter Kit" Logo="Assets\APIMASH_Logo.png" SmallLogo="Assets\APIMASH_Small.png" Description="APIMASH_RottenTomatoes_StarterKit" ForegroundText="light" BackgroundColor="#121212">
        <DefaultTile ShowName="allLogos" ShortName="Rotten Tomatoes" />
        <SplashScreen Image="Assets\APIMASH_Splash.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="apimash" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>