body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

/* Template for the items in the ListViews in this sample */
.smallListIconTextItem {
    width: 242px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .smallListIconTextItem img.smallListIconTextItem-Image {
        width: 96px;
        height: 45px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .smallListIconTextItem .smallListIconTextItem-Detail {
        margin: 5px;
        -ms-grid-column: 2;
    }

#imageList {
    margin-left: 10px;
    margin-top: 5px;
    width: 100%; /* +31 px to account for margins applied by ListView */
    height: 185px;
}

    #imageList .win-listview .win-focusedoutline {
        outline: red dashed 2px;
    }

/* style the background color of the filled-selection style items */
.win-selectionstylefilled :not(.win-footprint).win-container {
    background-color: #202020;
}


.item {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 48px;
    display: -ms-grid;
    width: 220px;
    height: 160px; 
}

    .item .item-image {
        -ms-grid-row-span: 2;
    }

    .item .item-overlay {
        background-color: rgba(0, 0, 0, 0.25);
        -ms-grid-row: 2;
        -ms-grid-rows: 1fr 1px;
        display: -ms-grid;
        padding: 6px 15px 2px 15px;
    }

    .item .item-overlay .item-title {
        -ms-grid-row: 1;
        overflow: hidden;
        width: 220px;
    }

    .item .item-overlay .item-subtitle {
         padding: 15px 0px 0px 0px;
        -ms-grid-row: 1;
        width: 220px;
    }
