<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="991dfdcb-32dc-4215-9b4a-c2d04ea7f552" Publisher="CN=Joe" Version="1.0.0.0" />
  <Properties>
    <DisplayName>APIMASH_WikiPedia_StarterKit</DisplayName>
    <PublisherDisplayName>Joe Healy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="APIMASH_WikiPedia_StarterKit.App">
      <VisualElements DisplayName="APIMASH_WikiPedia_StarterKit" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="APIMASH_WikiPedia_StarterKit" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="wikipedia geonames" WideLogo="Assets\APIMASH_Splash.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="apimash">
            <DisplayName>apimash</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>