<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Phone.Toolkit" version="3.0.0" targetFramework="wp80" />
  <package id="Cimbalino.Phone.Toolkit.Background" version="3.0.0" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.2-rc" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.10-rc" targetFramework="wp80" />
</packages>